body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image: url("sayagata-400px.png");
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    background-size: cover;
}

.headline {
    padding: 120px 0;
}

.section {
    margin: 50px 0;
}

.restablejobtitle {
    width: 30%;
    text-align: right;
    padding-bottom: 1em;
    padding: 10px 0;
    overflow: hidden;
    height: 160px;
    vertical-align: top;
}

.restabledesc {
    padding-bottom: 1em;
    padding: 10px 0;
    overflow: hidden;
    height: 160px;
    vertical-align: top;
}

.tablez {
    width: 100%;
    border-spacing: 50px 0;
    border-collapse: separate;
    overflow: hidden;
    vertical-align: top;
}

.tables {
    width: 100%;
    border-spacing: 5px 0;
}

.tableskillsleft {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
}

.tableskillstd {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
}

.hspace {
    margin-bottom: -26px;
    margin-top: 10px;
    padding:0px 0px 0px 0px;
    font: normal;
    text-align: justify;
    text-justify: inter-word;
}

.hspaceleft {
    margin-bottom: -26px;
    margin-top: 10px;
    padding:0px 0px 0px 0px;
    font: normal;
    text-align: right;
    text-justify: inter-word;
}

.spentlogo {
    width: 250px;
}

.spentlogo img {
    width: 100%;
    height: auto;
}

.github {
    width: 30px;
}

.github img {
    width: 100%;
    height: auto;
}

.screenshots {
    width: 100%;
    border-spacing: 5px 0;
    border-collapse: separate;
    overflow: hidden;
    vertical-align: top;
}

.screenimg {
    width: 200px;
}

.screenimg img {
    width: 100%;
    height: auto;
}

.titlepic {
    margin: 0 auto;
}

.titlepic img {
    height: 28px;
    margin: auto;
    display: block;
}

.titlepicproj img {
    height: 35px;
    margin: auto;
    display: block;
}

.titlepicexp img {
    height: 35px;
    margin: auto;
    display: block;
}

.titlepicedu img {
    height: 28px;
    margin: auto;
    display: block;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.container.polaroiddiv {
    width: 100%;
    padding: 35px;
    margin: auto;
}

.polaroid img {
    width: 280px;
    margin: auto;
    display: block;
}

.section.about {
    text-align: center;
}

.hspacetitle {
    margin-bottom: -26px;
    margin-top: 1px;
    padding:0px 0px 0px 0px;
    font: normal;
    text-align: center;
    text-justify: inter-word;
}

.hspacejob {
    margin-bottom: 0px;
    margin-top: 2px;
    padding:0px 0px 0px 0px;
    font: normal;
    text-align: center;
    text-justify: inter-word;
}

.logoimg {
    width: 30px;
}

.modalimg {
    width: 100%;
}

.modalimg img {
    width: 100%;
}

a {
    cursor:pointer;
}
