
/*LEFT AND RIGHT DIV POSITIONING*/
html, body, section, div {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
}

.div-left {
  background-color: #ff9e2c;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 50%;
}

.div-right {
  background-color: #lavender;
  float: right;
  width: 50%;
  overflow: scroll;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*SOCIAL MEDIA IMAGE SIZING*/
div img {
  width: 30px;
  margin-right: 7px;
  -webkit-filter: drop-shadow(2px 2px #000000);
  filter: drop-shadow(2px 2px #000000);
}

/*LEFT AND RIGHT DIV INNER CONTENTS*/
.div-left-inner {
  height: 400px;
  width: 450px;
  position: left;
  padding: 20px;
}

.div-right-inner {
  display: table;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  overflow: scroll;
  padding: 35px 45px 45px 45px;
  border-collapse: separate;
}

h1 {
  margin-top: -8px;
  margin-bottom: -8px;
  color: #ffffff;
  font-family: "Helvetica", "arial";
  font-size: 40px;
  text-shadow: 2px 2px #000000;
}

h2 {
  margin-top: -8px;
  margin-bottom: -8px;
  color: #ffffff;
  font-family: "Helvetica", "arial";
  font-size: 40px;
  text-shadow: 2px 2px #000000;
}

h3 {
  margin-top: -8px;
  margin-bottom: -8px;
  color: #ffffff;
  font-family: "Helvetica", "arial";
  font-size: 27px;
  text-shadow: 2px 2px #000000;
}

/*TABLE*/
.table {
  width: 80%;
  border-collapse: collapse;
  font-family: "Helvetica", "arial";
}

.title {
  width: 24%;
  height: 30px;
  font-family: "Helvetica", "arial";
  margin-top: 0px;
}

tr {
  height: auto;
  font-family: "Helvetica", "arial";
  margin-top: 0px;
}

td {
  height: 100%;
  vertical-align: top;
  margin-top: 0px;
  line-height: 200%;
  letter-spacing: 1.5px;
  font-family: "Helvetica", "arial";
}

.td {
  font-size: 12px;
  margin-top: 0px;
}

.in-the-space-between {
  height: 2px;
}

h4 {
  margin-top: 0px;
  font-size: 13px;
  font-family: "Helvetica", "arial";
  letter-spacing: 1px;
  line-height: 200%;
}

/*LINK STYLE*/
a:link {
  color: #668937;
  text-decoration: none;
  font-family: "Helvetica", "arial";
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #668937;
  font-family: "Helvetica", "arial";
  font-weight: bold;
}

a:hover {
  font-family: "Helvetica", "arial";
  font-weight: bold;
  color: #afba51;
}

a:active {
  font-family: "Helvetica", "arial";
  font-weight: bold;
}